$lato: "IBM Plex Sans", serif;
$base-font-stack: $lato, sans-serif;
$base-font-size: 18;
$base-viewport-width: 1920;
$type-color-default: #272940;
$type-selection-color: #fff;
$type-selection-color-invert: #000;
$type-selection-background: #000;
$type-selection-background-invert: #fff;
$mobile-base-font-rem-divider: 0.8;

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../assets/fonts/IBMPlexSansVar-Roman.woff2")
    format("woff2-variations");
  // font-style: normal;
  font-variation-settings: "wdth" 400, "wght" 98;
}

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-style: normal;
//   font-weight: 400;
//   // src: url('../assets/fonts/Lato-Regular.ttf') format('truetype')
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-style: italic;
//   font-weight: 400;
//   // src: url('../assets/fonts/Lato-Italic.ttf') format('truetype')
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-style: normal;
//   font-weight: 500;
//   // src: url('../assets/fonts/Lato-Bold.ttf') format('truetype')
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-style: italic;
//   font-weight: 500;
//   // src: url('../assets/fonts/Lato-BoldItalic.ttf') format('truetype')
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-style: normal;
//   font-weight: 600;
//   // src: url('../assets/fonts/Lato-Black.ttf') format('truetype')
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-style: italic;
//   font-weight: 600;
//   // src: url('../assets/fonts/Lato-BlackItalic.ttf') format('truetype')
// }

/**
 * Given a unitless number and an optional context, calculate a size in rem.
 *
 * @param  {number} $size    A unitless number to convert to a size in rem
 * @param  {number} $context A unitless number that acts as the divisor
 * @return {number}          The size in rem
 */
@function rem($size, $context: $base-font-size) {
  @return ($size / $context) * 1rem;
}

/**
 * Given a unitless number and an optional context, calculate a size in rem.
 *
 * @param  {number} $size    A unitless number to convert to a size in rem
 * @param  {number} $context A unitless number that acts as the divisor
 * @return {number}          The size in rem
 */
@function em($size, $context: $base-font-size) {
  @return ($size / $context) * 1em;
}

/**
 * Given a unitless number and an optional context, calculate a size in vw.
 * NOTE: This uses 1920 as the default context because that was the width used
 * in the original designs, and all standard px font sizes are based on it.
 *
 * @param  {number} $size    A unitless number to convert to a size in vw
 * @param  {number} $context A unitless number that acts as the divisor
 * @return {number}          The size in vw
 */
@function vw($size, $context: $base-viewport-width) {
  @return ($size / $context * 100) * 1vw;
}

// HEADING TYPE MIXINS
// =================================================================================================
$type-heading-title-size: 72;
@mixin type-heading-title($color: $type-color-default) {
  font-family: $lato;
  font-size: em($type-heading-title-size);
  font-weight: 600;
  color: $color;
}

$type-heading-h1-size: 68;
@mixin type-heading-h1($color: $type-color-default) {
  font-family: $lato;
  font-size: em($type-heading-h1-size);
  font-weight: 400;
  color: $color;
}

$type-heading-h2-size: 48;
@mixin type-heading-h2($color: $type-color-default) {
  font-family: $lato;
  font-size: em($type-heading-h2-size);
  font-weight: 400;
  color: $color;
}

$type-heading-h3-size: 36;
@mixin type-heading-h3($color: $type-color-default) {
  font-family: $lato;
  font-size: em($type-heading-h3-size);
  font-weight: 400;
  color: $color;
}

$type-heading-h4-size: 24;
@mixin type-heading-h4($color: $type-color-default) {
  font-family: $latos;
  font-size: em($type-heading-h4-size);
  font-weight: 500;
  color: $color;
}

$type-heading-h5-size: 18;
@mixin type-heading-h5($color: $type-color-default) {
  font-family: $lato;
  font-size: em($type-heading-h5-size);
  font-weight: 500;
  color: $color;
  text-transform: uppercase;
}

// BODY TYPE MIXINS
// =================================================================================================
$type-body-primary-size: 16;
@mixin type-body-primary($color: $type-color-default) {
  font-size: em($type-body-primary-size);
  font-weight: 400;
  color: $color;
}

$type-body-small-size: 14;
@mixin type-body-small($color: $type-color-default) {
  font-size: em($type-body-small-size);
  font-weight: 400;
  color: $color;
}

$type-body-medium-size: 18;
@mixin type-body-medium($color: $type-color-default) {
  font-size: em($type-body-medium-size);
  font-weight: 400;
  color: $color;
}

$type-body-medium-heavy-size: 18;
@mixin type-body-medium-heavy($color: $type-color-default) {
  font-size: em($type-body-medium-heavy-size);
  font-weight: 600;
  color: $color;
}

$type-body-large-size: 24;
@mixin type-body-large($color: $type-color-default) {
  font-size: em($type-body-large-size);
  font-weight: 400;
  color: $color;
}

$type-body-large-heavy-size: 24;
@mixin type-body-large-heavy($color: $type-color-default) {
  font-size: em($type-body-large-heavy-size);
  font-weight: 600;
  color: $color;
}

// TYPE SELECTION MIXINS
// =================================================================================================
@mixin type-selection {
  &::selection {
    color: $type-selection-color;
    background: $type-selection-background;
  }

  &::-moz-selection {
    color: $type-selection-color;
    background: $type-selection-background;
  }
}

@mixin type-selection-invert {
  &::selection {
    color: $type-selection-color-invert;
    background: $type-selection-background-invert;
  }

  &::-moz-selection {
    color: $type-selection-color-invert;
    background: $type-selection-background-invert;
  }
}
