@import "typography.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: $base-font-stack;
  font-size: $base-font-size * 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  background: url("../assets/img/background.svg") repeat;
  background-size: rem(135);

  &.block-scroll {
    overflow: hidden;
  }
}

@mixin button-style {
  appearance: none;
  background: #4305c6;
  border: 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: rem(12) rem(20);
  text-decoration: none;
  font-size: em(16);
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.lightred {
  color: #feedf8;
}

button {
  @include button-style();
}

input[type="text"],
input[type="email"] {
  appearance: none;
  border: 0;
  position: relative;
  outline: none;
  font-size: max($type-body-primary-size, 18px);
}

label {
  appearance: none;
  background: #000;
  border-radius: 999px;
  display: flex;
  padding: rem(25);
  position: relative;
  width: 80%;
  max-width: rem(450);

  input[type="email"] {
    width: 100%;
    background: none;
    color: #fff;
  }
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  max-width: rem(150);
  margin-bottom: rem(48);
}

section {
  align-items: center;
  display: flex;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 vw(150);

  main {
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 1;
    background: #272940;
    color: #fff;
    width: 40%;
    padding: vw(32) vw(100) vw(72);

    h4:first-of-type {
      margin-bottom: rem(92);
    }

    h2 {
      @include type-heading-h3();
      margin-top: 0;
      color: #fff;
      font-weight: 600;
    }

    &:first-child {
      background: none;
      color: #272940;
      font-size: 140%;
      padding: 0;
      margin-right: 5vw;

      h1 {
        @include type-heading-title();
        color: #272940;
        line-height: 1;
        margin-bottom: rem(48);
      }
    }
  }

  form {
    display: flex;
    width: 100%;
    margin-top: rem(32);
    align-items: center;

    button {
      margin-left: rem(25);
      background: url("../assets/img/arrow.svg") center center no-repeat;
      width: vw(32);
      height: vw(32);
    }
  }
}

footer {
  position: absolute;
  height: rem(64);
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(16);
  text-align: center;
  color: rgba(#272940, 0.3);
  width: 100%;

  svg {
    width: rem(48);

    &.medium-logo {
      width: rem(32);
    }
  }

  ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    li {
      margin-right: rem(12);

      &:last-of-type {
        margin-right: 0;
      }

      a {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;

        }
      }
    }
  }
}

h1 {
  margin: 0;
  max-width: 60vw;
}

p {
  max-width: rem(700);
  margin: 0 0 rem(36);
}

span {
  font-size: max($type-body-primary-size, 18px);
}

a {
  color: #fff;
  font-weight: 500;
}

.subscribed {
  display: flex;
  color: rgb(40, 233, 201);
  font-weight: 500;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;

  .icon {
    margin-bottom: 0;
    font-size: 3em;
    animation: 200ms ease-in-out pop-icon forwards;
    transform-origin: left center;

    @keyframes pop-icon {
      0% {
        opacity: 0;
        transform: scale(0);
      }

      75% {
        opacity: 1;
        transform: scale(1.2);
      }

      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: rem(72);
}

.error {
  color: #d8114d;
}

a.extra-block {
  display: none;
}

@media screen and (min-width: em(2500)) {
  body {
    font-size: 1.3rem;
  }

  h1 {
    max-width: 50vw;
  }
}

@media screen and (max-width: 1920px) {
  body {
    font-size: 1.1rem;
  }

  h1 {
    max-width: 50vw;
  }
}

@media screen and (max-width: 1440px) {
  body {
    font-size: 0.9rem;
  }

  p {
    max-width: rem(600);
  }
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 0.7rem;
  }

  h1 {
    font-weight: 500 !important;
  }

  section {
    flex-direction: column;
    padding: rem(64) rem(48);

    main {
      padding: rem(32) rem(72) rem(72);
      width: 100%;

      h4:first-of-type {
        margin-bottom: rem(32);
      }

      &:first-child {
        margin-right: 0;

        p {
          font-size: 140%;
        }
      }

      h2 {
        font-weight: 500;
      }

      p {
        font-size: max($type-body-primary-size, 18px);
      }
    }
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 0.6rem;
  }

  h1 {
    max-width: none;
  }

  label {
    padding: rem(12);
  }

  section {
    padding-right: 0;
    padding-left: 0;

    main {
      padding: rem(32) rem(32) rem(64);
      width: 100%;

      &:first-child {
        padding: rem(32);
      }
    }
  }
}
